<h4>You Have to FILL IN the form!!</h4>
<ul>
  <h4><% @stores.errors().full_messages().each() do |message| %></h4>
    <li><%= message %></li>
  <% end %>
</ul>
<br>
<br>

<h4><a href="/" >Return to Main Page to try again</a></h4>