<!DOCTYPE html>
<html>
<head>
  <title>SHOES!SHOES!SHOES!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/style.css/' type='text/css'>
</head>
<nav>

</nav>
<body>
 
    <div class='container'>
      <%= yield %>
    </div>
  </div>
</body>
</html>