.jumbotron {
	
	text-align: center;
	background-color: 	#66CCFF;
	
	
}

h5 {

	text-align: center;
}

h3 {

	text-align: center;
}

ul {
	align-content: center;
	list-style-position: initial;
}

div {

	align-content: center;
}