.jumbotron {
	
	text-align: center;
	background-color: 	#66CCFF;
	font-family: 'Tangerine', serif;
    font-size: 70px;

	
	
}

h5 {

	text-align: center;
}

h3 {

	text-align: center;
}

ul {
	align-content: center;
	list-style-position: initial;
}

div {

	align-content: center;
}

.background {
<img src="img/'shoes.jpg'
  -webkit-background-size: cover;  ;)no-repeat center fixed;
  -webkit-background-size: cover;  ;
}